h1{
    color: gray;
    margin: 25px;
}
li{
    list-style: none;
}
#nav-bar{
    float: right;
}
.nav-link{
    text-decoration: none;
    color:gray;
    margin: 50px 25px;
}
#form{
    text-align: center;
}
#video{
    float: right;
    width: 500px;
    height: 300px;
}
@media (max-width: 767px) { 

h1{
    font-size: 1.5rem;
}
}